<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= blog.body.slice(0, 75) %>...">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>MilkGames Blog - <%= blog.title %></title>
  <script src="/timeago.min.js"></script>
  <meta name="flattr:id" content="zlnq5z">
  <meta name="description" content="<%= blog.body.slice(0, 75) %>...">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="MilkGames Blog - <%= blog.title %>">
  <meta itemprop="description" content="<%= blog.body.slice(0, 75) %>...">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://milkgames.pw/blog/post/<%= blog.id %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MilkGames Blog - <%= blog.title %>">
  <meta property="og:description" content="<%= blog.body.slice(0, 75) %>...">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MilkGames Blog - <%= blog.title %>">
  <meta name="twitter:description" content="<%= blog.body.slice(0, 75) %>...">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="images/favicon.png">
  <script src="//hcaptcha.com/1/api.js" async defer></script>
  <% include partials/required.ejs %>
</head>
<body>

  <% include partials/header.ejs %>

  <div id="main">

    <div class="ui main text container">

      <div class="ui raised segment inverted">

      <div class="ui huge inverted header"><%= blog.title %>
        <div class="sub header timestamp" style="color: rgba(255,255,255,.7);" datetime="<%= blog.time * 1000 %>"></div>
      </div>

      <% if (blog.img) { %>
      <img src="<%= blog.img %>">
      <% } %>
      <p><%- blog.body %></p>

    </div>
  </div>
  </div>
  <script>timeago.render(document.querySelectorAll('.timestamp'));</script>
</body>
</html>
