<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Projects page, includes various projects.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>MilkGames - Projects</title>
  <meta name="flattr:id" content="zlnq5z">
  <meta name="description" content="Projects page, includes various projects.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="MilkGames - Projects">
  <meta itemprop="description" content="Projects page, includes various projects.">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://milkgames.pw/projects">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MilkGames - Projects">
  <meta property="og:description" content="Projects page, includes various projects.">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MilkGames - Projects">
  <meta name="twitter:description" content="Projects page, includes various projects.">
  <meta name="mobile-web-app-capable" content="yes">
  <%- include("partials/required.ejs") %>
  <script src="/semantic.min.js"></script>
</head>
<body>

  <%- include("partials/header.ejs") %>

  <div class="ui main text container">
    <h1 class="ui inverted header">Portfolio</h1>
    <p>Feel free to browse! Note this page or some media may be outdated.</p>
    <div class="ui inverted stackable cards">
    <% for (let [key, value] of Object.entries(projects)) { %>
    <% if (value.type == "seperator") { continue; } %>
    <% if (filter && !value.tags.includes(filter)) { continue; } %>
    <div class="card">
    <div class="content">
      <div class="header"><%= value.name %></div>
      <div class="description">
        <%= value.shortdesc %>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%= new Date(value.time * 1000).toUTCString() %>
      </span>
      <span><% value.tags.forEach(function (tag) { %>
        <% if (tag == "deprecated") { %>
          <span class="ui horizontal red label"><%= tag %></span>
        <% } else { %>
          <span class="ui horizontal label"><%= tag %></span>
        <% } %>
        <% }) %></span>
    </div>
    <% if (value.opensource == true) { %>
    <a href="<%= value.opensourceurl %>">
    <div class="ui attached button green">
      <i class="globe icon"></i>
      Visit open-source page
    </div>
    <% } %>
    <a href="/project/<%= value.url %>">
    <div class="ui bottom attached button">
      <i class="globe icon"></i>
      Visit project page
    </div>

    </a>
  </div>
    <% } %>
  </div>
</div>
</div>
</body>
</html>